name: Create PR when matched keyword
on: push
jobs:
  create-translationJob-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Prints the current branch name
        run: echo "${GITHUB_BRANCH##*/}"
        env:
          GITHUB_BRANCH: ${{ github.ref }}
      - name: Create Pull request if branch is translation job
        run: gh pr create --base main --title "Translation Title" --body "Translation Body" -l "translation" -r "javedhalani" -t "New Translations"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}